@font-face{
	font-family: 'Inova';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/swis721-cn-bt-roman.ttf);
}

@font-face{
	font-family: 'Inova';
    font-style: bold;
    font-weight: normal;
    src: url(../fonts/swis721-cn-bt-bold.ttf);
}

@font-face {
      font-family:"icomoon";
      src:url("https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot");
      font-weight:normal;
      font-style:normal;
    }
@font-face {
  font-family: 'icomoon';
  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?-cmq1um');
  src:url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.eot?#iefix-cmq1um') format('embedded-opentype'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.woff?-cmq1um') format('woff'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.ttf?-cmq1um') format('truetype'),
  url('https://cdn.rawgit.com/angular/material/master/docs/app/fonts/icomoon.svg?-cmq1um#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Inova';
  src: url('../fonts/swis721-cn-bt-roman.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inova';
  src: url('../fonts/swis721-cn-bt-bold.ttf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'InovaBold';
  src: url('../fonts/swiss-721-cn-bt.ttf');
  font-weight: normal;
  font-style: normal;
}

input:-webkit-autofill,input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill
 {
    -webkit-box-shadow: 0 0 0px 1000px #fefefe inset !important;
	-webkit-text-fill-color: #4d4d4d !important;
	background-color: #fefefe !important;
}



*{
	font-family: 'Inova';

}

a{
	text-decoration: none;
}

input{
	color: #000 !important;
	font-family: 'Inova';
}


body{
	background-color: #fff;
	color:#12304f;
	font-size: 14px;
}

body.whiteTheme{
		background-color: white;
	color:#12304f;
}

body.whiteTheme .main-content{
		background-color: white;
}

.logo{
	display:flex;
	text-align: center;
	flex-direction:column;
	padding: 20px 0;
	align-items:center;
	margin:0 auto;
}

.logo-text{
	color:#565656;
	text-align: center;
}

h1{
	font-size:1.5em;
	font-weight:400;
	padding-left: 20px;
}

h2{
	font-size:22px;
	font-weight:400;
	padding-left: 20px;
}
h3{
    font-size:18px;
	font-weight:400;
	padding-left: 20px;
}

h3.md-headline{
    font-size:1.2em;
}

h4{
    font-size: 1.1em;
    padding-left: 20px;
}

md-content.md-default-theme, md-content{
	color: #fff;
}

.md-select-menu-container{
	color: #000;
}

md-content.md-default-theme, md-content
{
	background-color: transparent;
}

md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2.md-closed.ng-isolate-scope.md-locked-open{
	box-shadow: none;
	background: url(../imagens/background.jpg);	
	
}

md-sidenav.site-sidenav.md-sidenav-left.md-whiteframe-z2.md-closed.ng-isolate-scope.md-locked-open{
}

.simple-form{
	background-color: #4d4d4d;
}

.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open{
	width: 272px;
	min-width: 272px;
	max-width: 272px;
	background-color: #4d4d4d;
	color: White;
}

.left-side-menu , .left-side-menu  ul{
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	list-style: none;
	padding-left: 0;
	background-color: rgba(0,0,0,.15);
	padding-top:.3rem;
	padding-bottom: .3rem;
}

.left-side-menu span, .left-side-menu  ul span, .selected-menu-toggle-item{
	font-variant: small-caps;
	text-transform: capitalize;
	font-size:1em;
}

.left-side-menu .md-button{
	/*font-size: 14px;*/
	font-size:1.1em;
	font-family: 'Inova';
	font-variant: small-caps;
	text-transform: capitalize;
}

ul.left-side-menu  li{
	padding-left: 1.1em;
	/*border-top: 1px solid #5a0e4f;*/
}

ul.left-side-menu  li:last-child{
	/*border-bottom: 1px solid #5a0e4f;*/
}

ul.left-side-menu li.item-toggled{
	border-bottom: none;
}

.left-side-menu .md-button{
	width: 100%;
	line-height: 40px;
	padding: 0 18px 0 0;
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: 20px;

}
.menu-toggle-list{
	border-left: 6px solid transparent;
	margin-left: -16px;
	padding-left: 8px;
	width: 272px;
	min-width: 272px;
	max-width: 272px;
}



.left-side-menu .md-button.md-button-toggle {
	line-height: 44px;
}

.left-side-menu li a, .menu-toggle-list li a{
	text-align: left;
	/*padding-left: 0;*/
}

.left-side-menu .md-button{
	color: #fff;
}

.menu-toggle-list li {
	text-align: left;
}

.md-toggle-icon{

	transform:translateX(-60%) rotate(90deg);
}

.md-toggle-icon.toggled{
	transform:translate(-30%, 20%);
}

md-toolbar{
	min-height: 52px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background-color: #4d4d4d;
}

.main-content{
	overflow: hidden;
}

.main-content, .main-content > md-content{
	height: 100vh;
}

md-sidenav.md-default-theme, md-sidenav{
	background: url(../imagens/background.jpg) top right;
}

md-sidenav{
	width: 50%;
	max-width: 100%;
}

.main-content, .main-content md-content{
	background-color: #fff;
	padding-bottom: 0;
}

.simple-form{
	padding-top: 5px;
	background-color: #ade0ff;
}

.simple-form h2{
	color: #fff;
	text-align: center;
	padding-right: 20%;
}

input{
	background-color: rgba(0,0,0,0.2);
	color:#fff;
}

md-input-container .md-errors-spacer{
	min-height: 8px;
}

md-input-container{
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 12px;
}


md-input-container.text-container  .md-input{
	background-color: rgba(0,0,0,0.2);

	/*
		height: 40px;
		line-height: 40px;
		vertical-align: middle;
		margin-top: 10px;
	*/

	font-size: 20px;
	color:#12304f;
	font-weight: bold;
}

md-input-container.text-container .md-default-theme label, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder{
	color:#000 !important;
	opacity: .8;
	font-size: 20px;
	font-style: normal;
}

md-input-container.text-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore){
	padding-left: 10px;
}

.whiteTheme md-input-container.text.md-default-theme.md-input-focused label, .whiteTheme md-input-container.md-input-focused label{
    color:#5b0c4e !important;
	opacity: .6;
}

md-input-container.text-container.md-default-theme.md-input-focused label, md-input-container.md-input-focused label{
	color:#000 !important;
	opacity: 1;
}
/*
md-input-container.text-container  label:not(.md-container-ignore){
	bottom: 95%;
}
md-input-container.text-container  label:not(.md-container-ignore).simple-label{
	bottom: 83%;
}
*/

md-input-container.text-container:not(.md-input-invalid).md-input-focused .md-input{
	border-bottom-color: #5b0c4e;
}

md-input-container.text-container.md-input-invalid .md-input.ng-invalid.ng-dirty,
md-input-container.text-container.md-input-invalid.md-input-focused .md-input.ng-invalid.ng-dirty,
input.ng-dirty.ng-invalid

{
	border-bottom-color: rgb(251, 30,10) !important;
	/*height: 38px !important;*/
	font-family: 'Inova';
	/*padding: .9em .3em !important;*/
}

.md-button{
	margin-left:0;
	margin-right:0;
}

.md-button.md-primary.md-raised:not([disabled]){
	background-color: rgb(251, 186, 0);
	color:  #000;
}

md-input-container.combo-container{
	margin-top: 16px;
	margin-bottom: 12px;
}

.simple-input{
	width: 50%;
}

.form-content{
	margin-top: 10px;
}

.textarea-input{
	height : 166px !important;
	line-height: 28px;
	font-family: 'Inova';
	font-size: 20px;
	color:#fff !important;
}

.md-char-counter{
	color:#fff;
	opacity: .5 !important;
}

.simple-list-container{
	padding-left: 18px;
}

.md-subheader{
	background-color: #5b0c4e;
}
.md-subheader .md-subheader-inner{
	padding: 0;
}

.list-header{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #7d1170;
	border-left: none;
	padding: 8px 0;
	color: #fff;
}

.list-item{
	color: #fff;
	font-size: 14px;
	border-bottom: 1px solid #7d1170;
	padding: 0!important;
}

.list-header:last-child{
	border-right: 0;
}

.list-item-cell{
	padding: 0 0 0 5px;
}

.list-item .material-icons{
	color:#fff;
}

.md-button.md-fab.custom-fab, .md-button.md-fab.custom-fab:focus{
	background-color: #fff;
}

.md-button.md-fab.custom-fab md-icon svg, .md-button.md-fab.custom-fab:focus md-icon svg{
	fill : #aa2195;
	color: #aa2195;
}

.md-button.md-fab.custom-fab:hover, .md-button.md-fab.custom-fab:focus{ /*,.md-button.md-fab.custom-fab:focus md-icon svg{*/
	background-color: #e98f5a;
}

.md-button.md-fab.custom-fab.custom-fab-neg:hover, .md-button.md-fab.custom-fab.custom-fab-neg:focus{ /*,.md-button.md-fab.custom-fab:focus md-icon svg{*/
	background-color: #fff;
}

.md-button.md-fab.custom-fab:hover md-icon svg, .md-button.md-fab.custom-fab:focus md-icon svg{
	fill : #fff;
	color: #fff;
}

.md-button.md-fab.custom-fab-neg.custom-fab:hover md-icon svg, .md-button.md-fab.custom-fab.custom-fab-neg:focus md-icon svg{
	fill : #ff2222;
	color: #ff2222;
}

.md-button.md-fab.custom-fab:disabled md-icon svg{
	fill : #7c4b7b;
	color: #7c4b7b;
}

.md-button.md-fab.custom-fab:disabled{
	background-color: #ccc;
}

.md-button.md-raised:enabled{
	color:#fe873f;
}

.md-raised.md-button.positive:enabled:hover span{
	color: #4586c2 !important;
}

.md-raised.md-button.negative:enabled:hover span{
	color: #d53915 !important;;
}

.list-loading-text{
	color:#fff;
}

md-dialog.md-default-theme, md-dialog{
	background-color: #fff;
	border-radius: 0;
}

md-dialog .md-button{
	color:#333 !important;
}

md-dialog.md-default-theme md-input-container.md-block, md-dialog md-input-container.md-block{
	width: 90%;
	color:#333;
	margin-left:0;
}

md-list-item{
	min-height: 64px;
}

.login-form-logo img{
	height: 331px;
}

.form-row{
	margin-top:30px;
    font-size:1.5rem;
    padding: .1rem 0;
	margin-left: 0;
	margin-bottom: 0;
}

.form-row-input{
	margin-top:10px;
	font-size:1.5rem;
	/*text-align: center;*/
	margin-left: 0;
}

.form-row input, .form-row-input input{
    width: 316px;
    padding: 4px 0 4px 4px;
	height: 36px;
	max-height: 36px;
}

.form-row-button{
	margin-top:20px;
    font-size:1.3rem;
    font-weight: normal;
	width: 316px;
    padding: .2rem 6px;
}

.form-row-button button{
    padding: .2rem 0;
}

md-toast.md-default-theme .md-toast-content, md-toast .md-toast-content{
	background-color: #fff;
	color:#d53915;
}

md-list .md-subheader{
}

.list-header{
	padding: 14px 0;
}

md-select{
	padding: 6px 0 6px 4px
}

md-select-menu.md-default-theme md-option:focus, md-select-menu.md-default-theme md-option:hover,
md-select-menu md-option:focus,md-select-menu md-option:focus:hover,
md-select-menu md-option:not(:hover)
{
	color: #565656;
}

a.md-button.md-default-theme.md-raised , a.md-button.md-raised, .md-button.md-default-theme.md-raised, .md-button.md-raised{
	background-color: #fff;

}
md-option {
	color: #000;
}

md-select-menu.md-default-theme md-option:focus:not([disabled]):not([selected]), md-select-menu md-option:focus:not([disabled]):not([selected]){
	color:#565656 !important;
}

md-select-menu md-option:focus,md-select-menu md-option:focus:hover{
	color:#000;
	font-weight: bold;
}

md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected]
{
	color: #000;
}

md-input-container.form-row-input{
	margin-top: 20px;
}

md-input-container.form-row-input .md-input.login-input,
md-input-container.form-row .md-input,
md-input-container.text-container .md-input
{
	background-color: transparent;
	padding: .9em .3em;
	border-bottom: 3px solid rgb(255, 51, 0);
	border-radius: 3px;
}

md-input-container.combo-container md-select{
	padding: .4em .2em; 
	color: #fff;
}

md-input-container.combo-container.md-input-focused  md-select *{
	color: #565656 !important;
	border-color: #7d1170 !important;
}

md-input-container.form-row.md-input-focused .md-input,
md-input-container.form-row-input.md-input-focused .md-input{
	border-bottom-color: rgb(251, 186, 0);
}
/* md-input-container.form-row:not(.md-input-invalid).md-input-focused label, */
md-input-container.form-row-input.md-input-focused label,
md-input-container.form-row.md-input-focused label,
md-input-container.form-row.md-input-has-value label,
md-input-container.form-row-input.md-input-has-value label,
md-input-container.text-container.md-input-has-value label,
md-input-container.text-container.md-input-focused label,
md-input-container.combo-container.md-input-has-value label
{
	color:#000;
	opacity: .6;
	-webkit-transform: translate3d(0, 0px, 0) scale(0.75);
	transform: translate3d(0, 0px, 0) scale(0.75);
	transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s;
	transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s;
}

md-input-container.combo-container:not(.md-input-has-value) label{
	display: none;
}

md-input-container.combo-container:not(.md-input-has-value) md-select *{
	color:#000 !important;
	opacity: .6;
}

md-input-container.form-row-input label:not(.md-container-ignore).simple-label,
md-input-container.text-container label:not(.md-container-ignore).simple-label,
md-input-container.combo-container label:not(.md-container-ignore).simple-label,
md-input-container.form-row label:not(.md-container-ignore).simple-label{
	/*bottom: 83%;*/
}

md-input-container.text-container,
md-input-container.combo-container
{
	margin-top: 12px;
}
md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected]{
	color: #000 !important;
}

md-input-container.text-container textarea.md-input{
	padding: .6em .3em;
}

md-autocomplete md-input-container{
	margin-left: 0;
}
md-autocomplete[md-floating-label] md-input-container{
	padding-bottom: 0;
}

md-autocomplete md-input-container input{
	/*background-image: url(../imagens/search-icon-hi.png) !important;*/
	background-repeat: no-repeat !important;
	background-position: center right !important;
}

md-autocomplete[disabled]{
	opacity: .3;
}

.form-level{
	height: 100vh;
}

.dark-purple-form{
    -webkit-box-shadow: inset 2px 0px 4px 1px rgba(81, 8, 69,0.8);
    -moz-box-shadow: inset 2px 0px 4px 1px rgba(81, 8, 69,0.8);
    box-shadow: inset 2px 0px 4px 1px rgba(60, 8, 49, 0.8);
    box-sizing: content-box;

}

.dark-purple-form md-content, .dark-purple-form md-toolbar{
    margin-left: 5px;
}

md-switch.custom-switch{
	margin: 0;
}

md-toolbar{
	width: auto;
}

md-list-item.editing, md-list-item .md-list-item-inner.editing{
	background-color: rgba(60, 8, 49, 1);
}

md-switch.custom-switch.custom-switch-op{
	margin-right: 24px;
}

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height).operations-tabs{
	min-height: 320px;
}

.form-row-input span{
	font-size: 1.2rem;
	color: #4d4d4d;
}

md-switch.md-default-theme.md-hue-3 .md-bar, md-switch.md-hue-3 .md-bar{
	background-color: #5d8493;
}

md-switch.md-default-theme.md-hue-3 .md-thumb, md-switch.md-hue-3 .md-thumb{
	background-color: rgba(46, 71, 103, 1);
}

md-switch.md-default-theme.md-hue-3.md-checked.md-primary .md-thumb, md-switch.md-hue-3.md-checked.md-primary .md-thumb{
	background-color:#12304f;
}

md-tabs.operations-tabs .md-tab.md-active{
 color:#fff;
}

md-tabs.operations-tabs .md-tab:not(.md-active){
    color:#fff;
    opacity: .7;
}

.small-round-button.md-button.md-fab.md-mini{
    line-height: 36px;
    width: 36px;
    height: 36px;
    min-height:30px;
    margin: 0;
}

.list-header.operations-tabs-header-button{
    padding: 4px 0 0 0;
}

md-menu-content {
	background-color: #fff;
}

.api-form{
	min-height: 220px;
}

md-datepicker.md-default-theme, md-datepicker{
    height: 38px;
    margin-top: 16px;
    /*margin-left: 12px;*/
    margin-right: 12px;
}

::-webkit-input-placeholder {
    color: #ccc;
    opacity: .7;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ccc;
    opacity: .7;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ccc;
    opacity: .7;
}

:-ms-input-placeholder {
    color: #ccc;
    opacity: .7;
}

.md-default-theme .md-datepicker-input-container, .md-datepicker-input-container
{
    border-bottom-color: rgba(255,255,255,.7);
}

.md-default-theme .md-datepicker-calendar, .md-datepicker-calendar, .md-default-theme .md-datepicker-input-mask-opaque, .md-datepicker-input-mask-opaque
{
    background-color: #fff;
    color:#333;
}

.md-default-theme .md-calendar-day-header, .md-calendar-day-header,.md-calendar.md-default-theme, .md-calendar
{
    color:#333;
}

.md-datepicker-calendar-pane
{
    border-color: #5b0c4e;
}

.md-default-theme .md-calendar-day-header, .md-calendar-day-header
{
	background-color: rgb(251, 186, 0);	
}

.md-default-theme .md-calendar-date.md-focus .md-calendar-date-selection-indicator, .md-calendar-date.md-focus .md-calendar-date-selection-indicator
{
    background-color: rgb(251, 186, 0);	
    border: 0;
}

.red-text{
	color:#d53915;
}

.selected-menu-item span{
	color: #fff !important;
	font-weight: bold;
}

.selected-menu-toggle-item{
    color: #fff !important;
	font-weight: bold;
	background-color: #3c3c3c;
}

.numero-versao{
	position: absolute;
	left:10px;
	bottom:20px;
	color: #000;
}

.leave-full-screen{
	position: absolute;
	right:10px;
	top:10px;
}

.full-screen{
	position: absolute;
	left:10px;
	bottom:40px;
}

.full-screen ul{
	padding-left:0;
}

.full-screen ul li{
	display: inline;
}

.botao-sair{
	margin-left: 32px;
	color:white;
}

.md-button.md-primary.md-raised{
	border-radius: 20px;
	width: 100%;
	box-shadow: none;
}

 md-input-container .md-input.login-input{
	 /*border-bottom: 2px solid rgb(255, 51, 0); */
 }


.md-sidenav-right .md-button{
	border-radius: 20px;
	width: 50%;
	box-shadow: none;
	background-color: rgb(251, 186, 0);
	color: #000;
}

.md-button.md-primary.md-raised:not([disabled]):hover{
	background-color:  #e98f5a;
}

.md-button.md-raised:enabled span{
	color:  #000;
}


.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open
{
    min-width: 20vw;
	width: 20vw;
	overflow: hidden; 
}

.side-header.marca img{
	height:160px;
}

.left-side-menu .md-button{
	color: #222;
}

.botao-sair{
	color : #222;
}

.left-side-menu > li menu-toggle > .separator{
	border-bottom:	1px solid #fff;
	width:130%;
	height: 1px;
	margin-left:-20px;
}

.item-toggled{
	background-color: rgba(0,0,0, .3);
}

.selected-menu-toggle-item md-icon{
	color: #fff;
}

.selected-menu-toggle-item md-icon svg{
	fill : #fff;
	color: #fff;
}

md-icon{
    color: #222;
}

md-icon svg{
	fill : #222;
	color: #222;
}


.collapsed-menu-bar .collapsed-menu-bar-menu{
	left: 8px;
}
.collapsed-menu-bar md-icon{
	color: #fff;
}

.collapsed-menu-bar md-icon svg{
	fill : #fff;
	color: #fff;
}

.menu-icon-bullet{
	height: 40px;
}

.menu-icon-bullet svg{
	margin-top:-34px;
	height: 64px;
}


a.submenu-link{
    overflow: visible;
}

.bem-vindo{
	font-size:16px;
	text-transform: capitalize;
	font-variant: small-caps;
	color: #000;
}

h3, h2, h1,  md-content label{
	color: #000;
}

md-input-container .md-input{
	 width : 100%;
	 min-width: 300px;
 }

.md-sidenav-right{
	width: 400px;
}

.md-sidenav-right label{
	font-size:1em;
}


.login-form-logo-inova {
    position: absolute;
    top:30px;
    right: 30px;
    z-index: 2;
    /*left:50%;*/
}

.login-form-logo-inova img {
    width: 100px;
}



.collapsed-menu{
	width : 70px;
	max-width: 70px;
}

.collapsed-menu-logo img{
    width : 50px;
}

.collapsed-menu-bar {
	position: absolute;
}   

md-checkbox .md-container{
	width: 2rem;
	height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
	margin-right: .6rem;
}

md-checkbox .md-label{
	margin-left: 2.5rem;
}

md-checkbox:not([disabled]).md-primary .md-icon{
	border-color: rgb(255, 51, 0);
	width: 2rem;
	height: 2rem;
	max-width: 2rem;
	max-height: 2rem;
	border-radius: 50%;
}

md-checkbox:not([disabled]).md-primary.md-checked .md-icon{
	background-color: rgb(251, 186, 0);	
}

md-progress-linear .md-bar{
	background-color: rgb(255, 51, 0);
	
}

md-checkbox.md-checked .md-icon:after{
	top : .4rem;
	left: .6rem;
}

md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon:after, md-checkbox:not([disabled]).md-primary.md-checked .md-icon:after{
	border-color: rgb(255, 51, 0);	
}

.bg-login h1{
	color: #4d4d4d;
}

.yellow-icon svg{
	fill: yellow;
	color: yellow;
}

md-select-menu md-content{
	background-color: white;
}

.md-datepicker-input-container.md-datepicker-focused{
	border-bottom-color: transparent;
}

.md-datepicker-button{
	display: none !important;
}

.md-icon-button + .md-datepicker-input-container{
	margin-left: 0;
}
md-datepicker.md-content{
	color: #000;
}

md-content.menu-content{
	background-color: transparent;
}
/*.form-row-input{
	padding-left: 1rem;
}*/


md-input-container, .buttons-container{
    min-width: 400px;
}

.buttons-container{
	display:flex;
	justify-content: space-around;
	margin-top: 18px;
}

.md-button.md-raised.common-button{
	border-radius: 20px;
	padding-left: 24px;
	padding-right: 24px;
	width: auto;
}

.md-button.md-primary.md-raised.confirm-button{
	padding-left: 24px;
	padding-right: 24px;
	min-width: 72px;
	width: auto;
}

md-select{
	margin: 0;
}

md-input-container .pager-input.md-input{
	min-width: 60px;
	font-size: .95rem;
}