
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Inova';
  src: url('../fonts/Swiss-721-BT.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inova';
  src: url('../fonts/Swiss721BT-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'InovaBold';
  src: url('../fonts/Swiss721BT-Bold.ttf');  
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'Inova'
}

.btn{
	font-size: 1.3em;
	border-radius: 0;
}

.btn i{
        font-size: 16px;
}

.btn-status-button{
	width: 100%;
}

.loadingBox{
	padding: 1em 0;
	width: 100%;
	text-align: center;
}

.message-text{
	padding: 1em;
	font-size: 1.2em;
}

.divResumoVistas .progress-bar span{
	color: #000;
}

.report-mobile-row{
    background-color: white;
    font-size: 1.1em;
    padding: 4px 0;
}

btn{
    color: white;
    background-color: #00afef;
}

.report-header-column-container{
    padding-left: 4px;
    padding-right: 4px;
}



.report-header-column-container span{
    white-space: nowrap;
}

.report-cell-container{
    text-align: center;
}

.report-row-container:nth-child(2n){
    background-color: #d8ebee;
}

.report-row-container:nth-child(2n+1){
    background-color: #eee;
}

.coluna-nome-vendedor{
    min-width:200px;
    text-align: left;
    font-weight: bold;
    padding-left: 4px;
}

.sub-header-table tr{
    border-top: 1px solid Black;
    border-bottom: 1px solid Black;
    border-left: 1px solid Black;
}

.sub-header-table td:last-child{
    border-right: 1px solid black;
    padding-left: 6px;
    padding-right: 6px;
}

.table-metas thead td{
    padding-left:0;
    padding-right: 0;
}

.white-background {
  background-color: white;
}

.blue-background {
  background-color: #e98f5a;
}

.report-container{
    color:#565656;

}

.report-content{
    /*width: 100%;*/
    height: 50vh;
    /*background-color: white;*/
}

.chart-back{
    background-color: rgba(255, 255, 255, .6);
    margin-top : 20px;
}

.chart-back-gauge{
    background-color: rgba(255, 255, 255, .6);
    margin-top : 32px;
    width: 100%;
    height: 30%;
}

.gauge{
    width:40%;
    height: 30%;
    float: left;
}

.hide-scroll{
    width: 100%;
    overflow: hidden;
    padding-top: 5vh;
    margin-top: -5vh;
    margin-left: -2vh;
}

.chart-div {
 overflow-x: visible;
 overflow-y: hidden;     
}

.gauge-title h3{
    color: #00ADEE;
    font-size: 16px;
    text-align: center;
}

.fleft{
    float : left;
}

.fright{
    float : right;
}

.select-box{
    color: #e98f5a;
}

.bg-login{ 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-repeat:no-repeat;
    background-image: url('../imagens/background.jpg');
    background-size:cover;
    padding-left: 10%;
}

.form-row h1{
    font-size: 1.6rem;
    color: rgb(255, 51, 0);
    font-family: Arial;
    font-weight: bold;
    margin:  2rem 0;
    padding: 0;
}

.marca-login{
    width: 12vw;
    max-width: 298px;
}


.form-row:first-child{
    margin-top: 0;
}

.data-grid-cell .form-row-input {
    text-align: left;
}

.data-grid-cell md-autocomplete md-autocomplete-wrap{
    height: auto;
}

.data-grid-cell md-autocomplete{
    height: auto;
}

.data-grid-cell md-input-container.form-row-input {
    margin-top : 0;
}

.data-grid-wrapper {
    padding: 0 0 20px 0;
}

.data-grid .data-grid-header {
    padding-bottom: 8px;
}

.data-grid .data-grid-header span {
    font-family: 'inova';
    color: #e98f5a;
    font-size: 1.2em;
    font-weight: bold;
}

.data-grid .data-grid-row {
    font-family: 'inovaR';
    color: #e98f5a;
    font-size: .95em;
    font-weight: bold;
    /*padding: .05em 0;*/
    height: 40px;
}

.data-grid .data-grid-row:nth-child(even) {
    background-color: #FFE3D2;
}

.data-grid .data-grid-button-positive svg,
.data-grid-pager .data-grid-button-positive svg {
    color: #e98f5a;
    fill: #e98f5a;
}

.data-grid-pager md-input-container.form-row-input {
    margin: 0;
}

.data-grid-pager md-input-container.form-row-input input {
    border-bottom: 2px solid #e98f5a;
    color: #e98f5a;
    width: 60px;
    min-width: 60px;
}

.data-grid-pager .md-button.md-primary {
    color: #e98f5a;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    width: 50px;
    min-width: 50px;
    font-size: 16px;
} 

.data-grid-pager .md-button[disabled] {
    opacity: .5;
}

.data-grid-search .search-input {
    width: 100%;
}

.data-grid-search .md-chips .md-chip-input-container input {
    color: #e98f5a;
    border-color: #e98f5a;
}

.data-grid-search .md-chips.md-focused {
    box-shadow: 0 2px #e98f5a;
}

.data-grid-search .md-chips md-chip .md-chip-content {
    padding-right: 16px;
}

.data-grid-search .md-chips md-chip .md-chip-remove svg {
    color: #e98f5a;
    fill: #e98f5a;
}

.data-grid-search .search-input .icon-search {
    margin-top: 8px;
    cursor: pointer;
}

.data-grid-search .search-input .icon-search svg {
    color: #e98f5a;
    fill: #e98f5a;
}

.data-grid .data-grid-button-negative svg {
    color: #e98f5a;
    fill: #e98f5a;
}

.data-grid md-checkbox:not([disabled]).md-primary.md-checked .md-icon,
.custom-form md-checkbox:not([disabled]).md-primary.md-checked .md-icon {
    background-color: #e98f5a;
}

.data-grid md-select {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: #e98f5a;
}

.grid-container {
    max-height: none !important;
}

.data-grid md-select .md-select-value {
    border-color: transparent;
}

.data-grid md-select:focus .md-select-value {
    border-color: #e98f5a;
}

.data-grid md-checkbox:not([disabled]).md-primary .md-icon {
    border-color: #e98f5a;
}

.data-grid-search .md-chips {
    padding-left: 32px;
    padding-bottom: 0;
}

.data-grid-search {
    margin-bottom: 50px;
}

/*.data-grid-search .md-chips .md-chip-input-container {
    margin-top: 0;
}*/

.data-grid md-switch {
    margin-top: 0;
    margin-bottom: 0;
}

.data-grid md-checkbox {
    margin-bottom: 0;
}

.data-grid .data-grid-cell span {
    padding-left: 8px;
}

.data-grid .row-loading-container {
    min-height: 40px;
}


.data-grid {
    margin-top: .5em;
}

md-tab-content .data-grid .form-row-input {
    margin: 0;
    padding: 0 .4em;
}

.data-grid-cell md-autocomplete {
    background-color: transparent;
    box-shadow: 0;
}

.data-grid-cell md-autocomplete md-autocomplete-wrap {
    box-shadow: 0 0 0;
}
md-tooltip {
    font-size: 1.2em;
}

md-tooltip>* {
    padding: .3em .5em;
}


.page-header h1{
    color: #e98f5a;
}

md-toast.md-default-theme .md-toast-content,
md-toast .md-toast-content {
    background-color: #FFFCFA;
    color: #e98f5a;
}

md-select label{
    display: none;

}

md-select.md-input-has-value label{
    display: initial;
}

.hint {
    /* Position the hint */
    /*position: absolute;*/
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /*Set our own color*/
    color: red; 
}
/*.md-select-placeholder span:first-child{
    display: none !important;
}

.md-select-placeholder{
    justify-content: flex-end;
}*/