﻿@font-face {
  font-family: 'Inova';
  src: url('../fonts/Swiss-721-condensed-BT.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inova';
  src: url('../fonts/Swiss-721-Bold-Condensed-BT.ttf');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'InovaBold';
  src: url('../fonts/Swiss-721-Bold-Condensed-BT.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
	padding-bottom: 20px;
}

intput{
	outline: none;
}

*:focus {
    outline: none;
}

.report-filters .filter-field
{
	padding-left: 1em;
	padding-right:1em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.align-center-div
{
	position:relative;
	text-align: center;
    top:50%;
	margin-top:10%;
}

.report-param-buttons-container div{
	margin-top: 2em;
}
.report-param-buttons-container input[type=button], .report-param-buttons-container input[type=submit]{
	width:90%;
	margin-left: 5%;
}


.report-container{
	margin-top:4%;
}


.report-title{
	margin-top:12px;
	margin-bottom: 32px;
}

.report-title h2{
	font-weight: normal;
	font-family: Inova;
	font-size:28px;
	color: #00afef;
}

.report-header-column-text{
	font-weight: bold;
	font-size:1.1em;
}

.report-param-text{
	font-weight: bold;
	color:#00afef;
}

.report-header-container{
	/*margin-top: 2em;*/
	/*background-color: #9AE2F9;*/
	padding-top: .5em;
	padding-bottom: .5em;
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-right:1px solid #eeeeee;
}

.report-param-cell-container{
	margin-top:8px;	
	min-height: 50px;
}

.report-param-item{
	/*outline: 0;
	color: #565656;*/
}

.report-param-item.ng-pristine{
	border-top: 0;
	border-left:0;
	border-right: 0;
	border-bottom: 1px solid #00afef;
	color: #00afef;
	background-color: #fff;
	
}

.report-param-item.ng-dirty.ng-valid{
	border:none;
	border-bottom: 1px solid rgba(130, 215, 46, 1);
	color: #00afef;
	/*background-color: #f0fbd3;*/
}

.report-param-item.ng-dirty.ng-invalid{
	border:none;
	border-bottom: 1px solid #f74747;
	color: #00afef;
	/*background-color: mistyrose;*/
}

input.report-param-item{
	padding: 6px 3px;
	
}
input[type=text].report-param-item, input[type=number].report-param-item{
	width: 95%;
	padding-left:8px;
}

.report-param-buttons-container{
	margin-top: 8px;
	margin-bottom: 2em;
}

.report-row-container{
	/*
	border-left: 1px solid #333;
	border-right: 1px solid #333; */
	/*border-bottom: 1px solid #333;*/
}

.report-row-container:nth-child(2n+1){
	/*background-color: #eee;*/

	/*border-bottom: 1px solid #333;*/
}

.report-row-container:nth-child(2n){
	/*background-color: #ccc; */
}

.report-group-row{
	/* border-bottom: 1px solid #333; */
}

.report-row-container:last-child{
	margin-bottom: 12px;
}

.report-cell-container{
	padding-top: .5em;
	padding-bottom: .5em;
}

.report-cell-content{
	word-wrap:  break-word;
}

.report-group-cell-container{
	font-weight: bold;


}

.report-group-row-container{

}

.report-item-row-container:nth-child(2n){
	/*background-color: #eee;*/
}

.report-item-row-container:nth-child(2n+1){
	background-color: #d8ebee;
	color:#565656;
}

.report-group-cell-container{
	background-color: #e9e9e9;
}

.report-body-container{
	padding-left: 0;
	padding-right: 0;
}

.mobile-table-margin{
	height: 20px;
}

.report-subheader-column-text{
	font-weight:  bold;	
}

.cd-refresh-icon{
	position: relative;
	display: flex;
}

.btn-default, .btn:focus, .btn.btn-default:active, .btn.btn-default:hover{
	color: white;
	background-color: #00afef;
	padding-left:0;
}

.btn-default.back-button{
	color: #00afef;
	background-color: white;
	border:0;
}

.btn-default[disabled]{
	background-color: #00afef;
	opacity: .5;
}


.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:active{
	background-color: #008abe;
}

.meta-name-header{
	background-color: #eee;
}

.report-list-container{
	margin-right:0;
	margin-left:0;
	padding-left:0;
	padding-right:0;
}

.panel-default>.panel-heading{
	color: #00afef;
}

.panel-heading{
	border-radius: 0;
}
.panel-group .panel{
	border-radius: 0;
	border:0;
	box-shadow: none;
}

a:focus, a:hover{
	text-decoration: none;
}

.button-container{
	padding-left:0;
	padding-right:0;
}

.button-container input[type=submit]{
	color: #00afef;
	background-color: #f5f5f5;
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	width:100%;
	font-family: 'Inova';
}

.button-container .btn.btn-default:hover{
	background-color: #e0e0e0;
}

.btn-default.btn-calendar{
	color:#00afef;
	background-color: white;
	border:0;
}
.btn{
		-webkit-box-shadow: none;
	box-shadow:none;
}
.btn.back-button:focus, .btn.back-button.btn-default:active, .btn.back-button.btn-default:hover{
		color: #00afef;
	background-color: white;
	border:0;
	-webkit-box-shadow: none;
	box-shadow:none;
	outline: none;
}

.select-box{
	color: #00afef;
}