<div role="dialog" aria-label="Eat me!" layout="column" layout-align="center center">
  <div class="demo-dialog-content">
       <md-list flex>

                <md-list-item>

                   <h3>Exibir Dashboard em Tela Cheia</h3>

                </md-list-item>
                <md-list-item>

                    <label>Transição automática entre dashboards</label>

                    <md-checkbox
                        class="md-primary"
                        aria-label="Transicao"
                        ng-model="opts.transition">
                    </md-checkbox>

                </md-list-item>
                <md-list-item>

                    <md-input-container ng-if="opts.transition"
                        class="md-block sidenav-form-row" >

                        <label>Tempo em segundos</label>

                          <input
                            min="1"
                            type="number"
                            value="60"
                            ng-model="opts.duration"/>

                    </md-input-container>

                </md-list-item>
       </md-list>
  </div>
  <div layout="row" class="demo-dialog-button">
    <md-button md-autofocus class="md-primary" ng-click="confirmarDialogo($event)">
      <span>Confirmar</span>
    </md-button>
    <md-button class="md-primary" ng-click="fecharDialogo($event)">
      Fechar
    </md-button>
  </div>
</div>