<html lang="en">

<head>

  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="estilos/normalize.css">
  <link rel="stylesheet" href="estilos/angular-material.css">
  <link rel="stylesheet" href="estilos/app.css">
  <link rel="stylesheet" href="css/app.css">

</head>

<body ng-app="orbe" id="main_menu" layout="row" class="layout-row" ng-class="{ 'whiteTheme' : whiteTheme }" ng-controller="MainController"
  ng-cloak>
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" ng-show="isLoggedIn && !isFullScreen && !isMenuCollapsed"
    md-component-id="left" md-is-locked-open="true">
    <header class="side-header marca" layout-align="center">
      <a ng-href="#" href="#" class="logo" ng-click="selectMenu('inicio')">
        <img src="imagens/logo-claro.png" alt="">
      </a>
    </header>
    <div>
      <h3 class="bem-vindo">Bem-vindo, {{nomeUsuario}}</h3>
    </div>
    <md-content flex="" class="menu-content"  role="navigation" style="margin-bottom: 60px;" ng-controller="MenuController" class="flex">
<ul class="left-side-menu">
  <li ng-repeat="section in sections" ng-class=" { 'item-toggled' : isItemSelected(section) }">
    <menu-link page="section" ng-class="{ 'selected-menu-item' : isSectionSelected(section) }" ng-if="section.type == 'link'">
    </menu-link>
    <menu-toggle section="section" ng-if="section.type == 'toggle'">
    </menu-toggle>
  </li>

</ul>
<a href="#/logout" class="botao-sair">Sair</a>
</md-content>
<div class="full-screen">
  <ul>
    <li>
      <a href="#" class="recolher-menu" ng-click="collapseMenu($event)">
            <span aria-hidden="true" style="color:#153b62 " class="md-toggle-icon" >
<md-tooltip md-direction="top" md-delay="tooltipDelay">
  Recolher Menu
</md-tooltip>
<md-icon md-svg-src="./imagens/ic_arrow_back_white_24px.svg"></md-icon>
</span>
</a>
</li>
<li>
  <a href="#" class="recolher-menu" ng-click="openFullDialog($event)">
              <span aria-hidden="true" style="color:#153b62 " class="md-toggle-icon" >
<md-tooltip md-direction="top" md-delay="tooltipDelay">
  Modo Tela Cheia
</md-tooltip>
<md-icon md-svg-src="./imagens/ic_fullscreen_white_24px.svg"></md-icon>
</span>
</a>
</li>
</ul>
</div>

<span class="numero-versao">Versão: 1.0.0 </span>
</md-sidenav>

<!--<md-sidenav
        class="md-sidenav-left collapsed-menu"
        md-component-id="left"
        md-is-locked-open="isMenuCollapsed"
        md-whiteframe="4">

      <header class="side-header collapsed-menu-logo" layout-align="center"> 
        <a ng-href="#" href="#" class="logo" ng-click="selectMenu('inicio')">
          <img src="imagens/marca-login.png" alt="">
        </a>
      </header>

      <md-content layout-padding >

        <p hide show-gt-md>
          
        </p>
      </md-content>

    </md-sidenav>-->

<md-fab-toolbar ng-show="isMenuCollapsed" class="collapsed-menu-bar" md-open="demo.isOpen" count="demo.count" md-direction="right">
  <md-fab-trigger class="align-with-text">
    <md-button aria-label="menu" class="md-fab md-primary collapsed-menu-bar-menu">
      <md-icon md-svg-src="imagens/ic_menu_white_24px.svg"></md-icon>
    </md-button>
  </md-fab-trigger>

  <md-toolbar>
    <md-fab-actions class="md-toolbar-tools">
      <md-button ng-repeat="section in sections" ng-click="sectionClicked($event, section)" aria-label="comment" class="md-icon-button">
        <md-icon md-svg-src="{{ section.icon }}"></md-icon>
        
        <!--<md-menu ng-if="section.pages.length">
          <md-button ng-show="false" aria-label="comment"></md-button>
          <md-menu-content ng-init="section.menu = $mdOpenMenu" width="4">
            <md-menu-item ng-repeat="page in section.pages">
              <md-button ng-click="selectPage($event, page)">
                {{ page.name }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>-->

      </md-button>
      <md-button aria-label="comment" ng-click="expandMenu($event)" class="md-icon-button">
        <md-icon md-svg-src="imagens/ic_arrow_forward_white_24px.svg">
        </md-icon>
      </md-button>
    </md-fab-actions>
  </md-toolbar>
</md-fab-toolbar>

<md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">
  <md-content layout-padding>
    <md-list flex>

      <md-list-item>

        <h3>Exibir Dashboard em Tela Cheia</h3>

      </md-list-item>
      <md-list-item>

        <md-checkbox class="md-primary" aria-label="Transicao" ng-model="opts.transition">
        </md-checkbox>
        <label>Transição automática entre telas</label>
      </md-list-item>
      <md-list-item>

        <md-input-container ng-if="opts.transition" class="md-block sidenav-form-row">

          <label>Tempo em segundos</label>

          <input min="1" type="number" value="60" ng-model="opts.duration" />

        </md-input-container>

      </md-list-item>
    </md-list>
    </div>
    <div layout="row" class="demo-dialog-button" layout-align="center center">
      <md-button md-autofocus class="md-primary" ng-click="confirmarDialogo($event)">
        <span>Confirmar</span>
      </md-button>
    </div>
  </md-content>

</md-sidenav>
<div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
  <div ng-view id="main-content-area" class="main-content">
  </div>
</div>
<div ng-if="!isLoggedIn" class="login-form-logo-inova">
  <img src="imagens/marca-inova.png" alt="RedeInova">
</div>

<a href="#" ng-show="isFullScreen" class="leave-full-screen" ng-click="leaveFullscreen($event)">
  <span aria-hidden="true" class="md-toggle-icon"> 
          <md-icon md-svg-src="./imagens/ic_fullscreen_exit_black_24px.svg"></md-icon>
        </span>
</a>

<!--libs-->
<script src="scripts/lib/jquery-2.0.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
<script src="scripts/lib/angular-messages.min.js"></script>
<script src="scripts/lib/angular-cookies.min.js"></script>
<script src="scripts/lib/angular-route.min.js" type="text/javascript"></script>
<script src="scripts/lib/angular-ui-router.min.js"></script>
<script src="scripts/lib/angular-material.min.js"></script>
<script src="scripts/lib/angular-input-masks-standalone.min.js"></script>
<script src="scripts/lib/angular-momentjs.min.js"></script>
<script src="scripts/lib/angular-locale_pt-br.js"></script>

<script src="scripts/polyfills/array.js"></script>
<script src="scripts/lib/angular-jwt.js"></script>

<script src="scripts/lib/FileSaver.js"></script>

<script src="scripts/app.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--fim libs-->

<!--controllers-->
<script src="scripts/controllers/home-controller.js"></script>
<script src="scripts/controllers/dash-controller.js"></script>
<script src="scripts/controllers/controllers.js"></script>
<script src="scripts/controllers/main-controller.js"></script>
<script src="scripts/controllers/menu-controller.js"></script>
<script src="scripts/controllers/login-controller.js"></script>
<script src="scripts/controllers/funcionarios-controller.js"></script>
<script src="scripts/controllers/funcionario-controller.js"></script>
<script src="scripts/controllers/menus-estaticos-controller.js"></script>
<script src="scripts/controllers/logout-controller.js"></script>
<script src="scripts/controllers/concorrencia-controller.js"></script>
<script src="scripts/controllers/distribuidor-controller.js"></script>

<!--fim controllers-->

<!--directives-->
<script src="scripts/directives/ui.js"></script>
<script src="scripts/directives/loading.js"></script>
<script src="scripts/directives/slide-form.js"></script>
<script src="scripts/directives/directives.js"></script>
<script src="scripts/directives/md-input-container-directive.js"></script>
<script src="scripts/directives/number-input.js"></script>
<script src="scripts/directives/handle-keys.js"></script>
<script src="scripts/directives/clean-frame.js"></script>
<script src="scripts/directives/menu-estatico.js"></script>
<script src="scripts/directives/foco.js"></script>
<script src="scripts/directives/selects.js"></script>
<!--fim directives-->

<!--services-->
<script src="scripts/services/web-api.js"></script>
<script src="scripts/services/services.js"></script>
<script src="scripts/services/util.js"></script>

<script src="scripts/services/funcionarios-service.js"></script>
<script src="scripts/services/ddd-service.js"></script>
<script src="scripts/services/micro-regiao-service.js"></script>
<script src="scripts/services/concorrencia-service.js"></script>
<script src="scripts/services/distribuidor-service.js"></script>
<script src="scripts/services/usuarios-orbesso-service.js"></script>
<script src="scripts/services/grupos-permissoes-service.js"></script>

<!--fim services-->

<!--filters-->
<script src="scripts/filters/filters.js"></script>
<!--fim filters-->

</body>

</html>