<md-content>

    <div layout="row" class="page-header" layout-align="center center">
        <h1>Concorrências</h1>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
            <label class="simple-label">Pesquisar (por Regional, DDD ou Micro-região)</label>
            <input type="text" name="campoPesquisar2" ng-model="searchString" />
        </md-input-container>
    </div>
    <div class="data-grid" ng-show="concorrencias.length" layout="column">
        <!--cabeçalho-->
        <div class="data-grid-header" layout="row" layout-align="space-around center">
            <div flex="5" layout="row">
                <md-button ng-click="exportData()" class="md-icon-button data-grid-button-positive" aria-label="Exportar para Excel" ng-show="permissoes.editar">
                    <md-icon md-menu-origin="" md-svg-src="imagens/ic_excel_orange_24px.svg">
                    </md-icon>
                    <md-tooltip md-direction="bottom">
                        Exportar para Excel
                    </md-tooltip>
                </md-button>
            </div>
            <div flex="10"><span>Regional</span></div>
            <div flex="10"><span>DDD</span></div>
            <div flex><span>Micro-região</span></div>
            <div layout="row" flex="10" layout-align="end center">
            </div>
        </div>
        <!--fim cabeçalho-->

        <!--corpo-->
        <div ng-hide="loading" layout="column" class="data-grid-row" ng-repeat="item in concorrencias | searchFor2:searchString">
            <form class="custom-form" novalidate>
                <div layout="row" layout-align="space-around center" layout="row">
                    <div flex="5" layout="row" layout-align="center"></div>
                    <div class="data-grid-cell" flex="10"><span>{{ item.Regional }}</span></div>
                    <div class="data-grid-cell" flex="10"><span>{{ item.DDD }}</span></div>
                    <div class="data-grid-cell" flex><span>{{ item.MicroRegiao }}</span></div>
                    <div layout="row" flex="10" layout-align="center center" ng-show="permissoes.editar">
                        <div>
                            <md-button class="md-icon-button data-grid-button-positive" aria-label="Editar Item" href="#/concorrencias/{{item.id}}/edit">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_mode_edit_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Editar
                                </md-tooltip>
                            </md-button>
                        </div>
                        <!--<div>
                            <md-button class="md-icon-button data-grid-button-negative" aria-label="Excluir Item" ng-click="confirmDelete(item,$event)">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_delete_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Excluir
                                </md-tooltip>
                            </md-button>
                        </div>-->
                    </div>
                </div>
            </form>
        </div>
        <div layout="row" layout-align="center" ng-show="loading">
            <div>
                <img src="imagens/grid-loading.gif" />
            </div>
        </div>
        <div layout="column" ng-if="!concorrencias.length" layout-align="center center" ng-show="!loading">
            <h2>Aguarde. Estamos carregando as informações da Concorrência.</h2>
        </div>
        <!--fim corpo-->
    </div>
    <div id="exportable" style="display:none">
        <table width="100%">
            <thead>
                <tr>
                    <th>Regional</th>
                    <th>DDD</th>
                    <th>Micro-regiao</th>
                    <th>Operadora</th>
                    <th>Distribuidor</th>
                    <th>Capilaridade</th>
                    <th>Faturamento Medio Mensal</th>
                    <th>Gross Medio Mensal</th>
                    <th>Exclusivo</th>
                    <th>Margem Fixa</th>
                    <th>Margem Variavel</th>
                    <th>Margem de Programa de Excelencia</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in concorrenciasCompleto">
                    <td>{{ item.Regional }}</td>
                    <td>{{ item.DDD }}</td>
                    <td>{{ removeAcentos(item.MicroRegiao) }}</td>
                    <td>{{ removeAcentos(item.Operadora) }}</td>
                    <td>{{ removeAcentos(item.Nome) }}</td>
                    <td>{{ item.Capilaridade }}</td>
                    <td>{{ item.FaturamentoMedioMensal }}</td>
                    <td>{{ item.GrossMedioMensal }}</td>
                    <td>{{ item.Exclusivo === 1 ? 'SIM' : 'NAO' }}</td>
                    <td>{{ item.MargemFixa2 }}</td>
                    <td>{{ item.MargemVariavel }}</td>
                    <td>{{ item.MargemProgramaExcelencia }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>