<md-content layout-padding>
    <form name="form" ng-submit="submeter()" ng-hide="loading" novalidate>
        <div layout="row" class="page-header" layout-align="center center">
            <h1>Cadastro de Informações da Concorrência</h1>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label class="simple-label"> Regional</label>
                <!--<select-regionais name="Regional" change="regionaisChange()" ng-model="concorrencia.IdRegional"></select-regionais>-->
                <input type="text" style="width: 100%" name="Regional" ng-model="concorrencia.Regional" disabled>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label class="simple-label"> DDD</label>
                <!--<select-ddds name="DDD" change="dddChange()" ng-model="concorrencia.DDD" regional="concorrencia.IdRegional"></select-ddds>-->
                <input type="text" style="width: 100%" name="DDD" ng-model="concorrencia.DDD" disabled>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label class="simple-label"> Micro-região</label>
                <!--<select-micro-regioes name="microregiao" ng-model="concorrencia.IdMicroRegiao" ddd="concorrencia.DDD"></select-micro-regioes>-->
                <input type="text" style="width: 100%" name="microregiao" ng-model="concorrencia.MicroRegiao" disabled>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-card flex>
                <md-card-title>
                    <md-card-title-media>
                        <img ng-src="imagens/Vivo2.png" class="sm-media-sm" alt="Washed Out">
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label"> Nome do Distribuidor</label>
                            <!--<input type="text" name="nomeVivo" disabled required ng-model="concorrencia.dados[0].Nome" required ng-maxlength="255">-->
                            <select-concorrencia-distribuidores name="nomeVivo" ng-model="concorrencia.dados[0].IdConcorrenciaDistribuidores"></select-concorrencia-distribuidores>
                            <!--<md-select name="nomeVivo" required  ng-model="concorrencia.dados[0].Nome" aria-label="Distribuidores"><md-option ng-repeat="dist in concorrenciaDistribuidores" ng-value="dist.Id">{{dist.Distribuidor}}</md-option></md-select>-->
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label"> Capilaridade</label>
                            <input type="text" name="capVivo" ui-number-mask="0" required min="0" max="600000" ng-model="concorrencia.dados[0].Capilaridade">
                            <div ng-messages="form.capVivo.$error">
                                <div ng-message="max"><b>Capilaridade</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label"> Faturamento Médio Mensal</label>
                            <input type="text" ui-money-mask="2" min="0.00" required max="999999999.99" ng-model="concorrencia.dados[0].FaturamentoMedioMensal">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label"> Gross Médio Mensal</label>
                            <input type="text" ui-number-mask="2" min="0.00" required step="0.01" max="999999999.99" ng-model="concorrencia.dados[0].GrossMedioMensal">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label>Exclusivo?</label>
                            <md-select name="type" ng-model="concorrencia.dados[0].Exclusivo" required>
                                <md-option value="1">SIM</md-option>
                                <md-option value="0">NÃO</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label"> Margem Fixa</label>
                            <input type="text" name="margemFixaVivo" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[0].MargemFixa2">
                            <div ng-messages="form.margemFixaVivo.$error">
                                <div ng-message="max"><b>Margem Fixa</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem Variável</label>
                            <input type="text" name="margemVariavelVivo" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[0].MargemVariavel">
                            <div ng-messages="form.margemVariavelVivo.$error">
                                <div ng-message="max"><b>Margem Variável</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem de Programa de Excelência</label>
                            <input type="text" name="margemProgramaExcelenciaVivo" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[0].MargemProgramaExcelencia">
                            <div ng-messages="form.margemProgramaExcelenciaVivo.$error">
                                <div ng-message="max"><b>Margem de Programa de Excelência</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
            <!--</div>
        <div layout-gt-xs="row">-->
            <md-card flex>
                <md-card-title>
                    <md-card-title-media>
                        <img ng-src="imagens/Tim2.png" class="sm-media-sm" alt="Washed Out">
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Nome do Distribuidor</label>
                            <!--<input type="text" name="nomeTim" disabled ng-model="concorrencia.dados[1].Nome" required ng-maxlength="255">-->
                            <select-concorrencia-distribuidores name="nomeTim" ng-model="concorrencia.dados[1].IdConcorrenciaDistribuidores" required></select-concorrencia-distribuidores>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Capilaridade</label>
                            <input type="text" name="capTim" required ui-number-mask="0" min="0" max="600000" ng-model="concorrencia.dados[1].Capilaridade">
                            <div ng-messages="form.capTim.$error">
                                <div ng-message="max"><b>Capilaridade</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Faturamento Médio Mensal</label>
                            <input type="text" ui-money-mask="2" required min="0.00" step="0.01" max="999999999.99" ng-model="concorrencia.dados[1].FaturamentoMedioMensal">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Gross Médio Mensal</label>
                            <input type="text" ui-number-mask="2" required min="0.00" step="0.01" max="999999999.99" ng-model="concorrencia.dados[1].GrossMedioMensal">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label>Exclusivo?</label>
                            <md-select name="type" ng-model="concorrencia.dados[1].Exclusivo" required>
                                <md-option value="1">SIM</md-option>
                                <md-option value="0">NÃO</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem Fixa</label>
                            <input type="text" name="margemFixaTim" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[1].MargemFixa2">
                            <div ng-messages="form.margemFixaTim.$error">
                                <div ng-message="max"><b>Margem Fixa</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem Variável</label>
                            <input type="text" name="margemVariavelTim" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[1].MargemVariavel">
                            <div ng-messages="form.margemVariavelTim.$error">
                                <div ng-message="max"><b>Margem Variável</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem de Programa de Excelência</label>
                            <input type="text" name="margemProgramaExcelenciaTim" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[1].MargemProgramaExcelencia">
                            <div ng-messages="form.margemProgramaExcelenciaTim.$error">
                                <div ng-message="max"><b>Margem de Programa de Excelência</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
            <!--</div>
        <div layout-gt-xs="row">-->
            <md-card flex>
                <md-card-title>
                    <md-card-title-media>
                        <img ng-src="imagens/Oi2.png" class="sm-media-sm" alt="Washed Out">
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Nome do Distribuidor</label>
                            <!--<input type="text" name="nomeOi" disabled ng-model="concorrencia.dados[2].Nome" required ng-maxlength="255">-->
                            <select-concorrencia-distribuidores name="nomeOi" ng-model="concorrencia.dados[2].IdConcorrenciaDistribuidores"></select-concorrencia-distribuidores>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Capilaridade</label>
                            <input type="text" name="capOi" required ui-number-mask="0" min="0" max="600000" ng-model="concorrencia.dados[2].Capilaridade">
                            <div ng-messages="form.capOi.$error">
                                <div ng-message="max"><b>Capilaridade</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Faturamento Médio Mensal</label>
                            <input type="text" ui-money-mask="2" required min="0.00" step="0.01" max="999999999.99" ng-model="concorrencia.dados[2].FaturamentoMedioMensal">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label"> Gross Médio Mensal</label>
                            <input type="text" ui-number-mask="2" required min="0.00" step="0.01" max="999999999.99" ng-model="concorrencia.dados[2].GrossMedioMensal">
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label>Exclusivo?</label>
                            <md-select name="type" ng-model="concorrencia.dados[2].Exclusivo" required>
                                <md-option value="1">SIM</md-option>
                                <md-option value="0">NÃO</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem Fixa</label>
                            <input type="text" name="margemFixaOi" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[2].MargemFixa2">
                            <div ng-messages="form.margemFixaOi.$error">
                                <div ng-message="max"><b>Margem Fixa</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem Variável</label>
                            <input type="text" name="margemVariavelOi" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[2].MargemVariavel">
                            <div ng-messages="form.margemVariavelOi.$error">
                                <div ng-message="max"><b>Margem Variável</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout-gt-xs="row">
                        <md-input-container class="md-block form-row-input md-select-container" flex>
                            <label class="simple-label">Margem de Programa de Excelência</label>
                            <input type="text" name="margemProgramaExcelenciaOi" required ui-number-mask="2" min="0.00" max="14.00" ng-model="concorrencia.dados[2].MargemProgramaExcelencia">
                            <div ng-messages="form.margemProgramaExcelenciaOi.$error">
                                <div ng-message="max"><b>Margem de Programa de Excelência</b> excessivamente alta.</div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div layout="row">
            <div class="buttons-container">
                <md-button href="#/concorrencias" class="md-raised common-button">Voltar</md-button>
                <md-button type="submit" class="md-raised md-primary confirm-button" ng-disabled="form.$invalid">
                    Salvar
                </md-button>
            </div>
        </div>
    </form>
    <div layout="row" layout-align="center" ng-show="loading">
        <div>
            <img src="imagens/grid-loading.gif" />
        </div>
    </div>
</md-content>