<md-content layout-padding>
    <form name="formulario" ng-hide="loading" novalidate>
        <div layout="row" class="page-header" layout-align="center center">
            <h1>Cadastro Distribuidor</h1>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label"> Regional</label>
                <input type="text" style="width: 100%" name="Regional" ng-model="distribuidor.Regional" disabled>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label"> DDD</label>
                <input type="text" style="width: 100%" name="DDD" ng-model="distribuidor.DDD" disabled>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex="70">
                <label class="simple-label"> Micro-região</label>
                <input type="text" style="width: 100%" name="microregiao" ng-model="distribuidor.MicroRegiao" disabled>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label class="simple-label">População</label>
                <input type="text" disabled style="width: 100%" ui-number-mask="0" name="Populacao" ng-model="distribuidor.Populacao" max="50000000"
                    ng-maxlength="10">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Market Share da Claro</label>
                <input type="text" ui-number-mask="2" name="MarketShareClaro" ng-model="distribuidor.MarketShare" max="100" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Operadora Líder</label>
                <md-select required ng-model="distribuidor.Operadora" aria-label="Regional">
                    <md-option></md-option>
                    <md-option ng-repeat="operadora in formData.operadoras" ng-value="operadora.Id">
                        {{operadora.Nome}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Market Share da Operadora Líder</label>
                <input type="text" ui-number-mask="2" name="MarketShareLider" ng-model="distribuidor.MarketShareLider" ng-maxlength="50 ">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex="70" class="md-block form-row-input md-select-container">
                <md-autocomplete flex md-selected-item="gnSellIn" ng-model="distribuidor.IdGNSellIn" md-no-cache="true" 
                    md-search-text="txtSearch" md-items="item in buscarFuncionario(txtSearch)" md-item-text="item.text" placeholder="" 
                    md-floating-label="Nome Completo (Matricula e Cargo) GN Sell In"  >
                    <md-item-template>
                        <span md-highlight-text="$text">{{ item.text }}</span>
                    </md-item-template>
                </md-autocomplete>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">% GN Sell In</label>
                <input type="text" ui-number-mask="2" name="PercentGNSellIn" ng-model="distribuidor.PercentGNSellIn" max="100">
            </md-input-container>
            
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex="70" class="md-block form-row-input md-select-container">
                <md-autocomplete flex md-selected-item="gnSellOut" ng-model="distribuidor.IdGNSellOut" md-no-cache="true" md-search-text="txtSearch2"
                    md-items="item in buscarFuncionario(txtSearch2)" md-item-text="item.text" placeholder="" md-floating-label="Nome Completo (Matricula e Cargo) GN Sell Out">
                    <md-item-template>
                        <span md-highlight-text="$text">{{ item.text }}</span>
                    </md-item-template>
                </md-autocomplete>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">% GN Sell Out</label>
                <input type="text" ui-number-mask="2" name="PercentGNSellOut" ng-model="distribuidor.PercentGNSellOut" max="100">
            </md-input-container>
           
        </div>
        <div layout="row" class="page-header" layout-align="center center">
            <h1>Informações do Distribuidor</h1>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex-gt-xs="" class="md-block form-row-input md-select-container">
                <label class="simple-label">Razão Social</label>
                <input type="text" style="width: 100%" name="RazaoSocial" ng-model="distribuidor.RazaoSocial" required ng-maxlength="50">
            </md-input-container>
            <md-input-container flex-gt-xs="" class="md-block form-row-input md-select-container">
                <label class="simple-label">Nome Fantasia</label>
                <input type="text" style="width: 100%" name="NomeFantasia" ng-model="distribuidor.NomeFantasia" required ng-maxlength="50">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Grupo, caso faça parte de algum</label>
                <input type="text" style="width: 100%" name="NomeGrupo" ng-model="distribuidor.NomeGrupo" ng-maxlength="50">
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">CNPJ</label>
                <input type="text" style="width:100%" ui-br-cnpj-mask name="CNPJ" ng-model="distribuidor.CNPJ" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Inscrição Estadual</label>
                <input type="text" style="width:100%" ng-maxlength="20" name="InscricaoEstadual" ng-model="distribuidor.InscricaoEstadual"
                    required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Código SAP Estrutural</label>
                <input type="text" style="width:100%" name="CodigoSAP" ng-model="distribuidor.CodigoSAP" ng-maxlength="50" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Código SAP Trade</label>
                <input type="text" style="width:100%" name="CodigoSAPTrade" ng-model="distribuidor.CodigoSAP2" ng-maxlength="50" required>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">AMDOCS Estrutural</label>
                <input type="text" style="width:100%" name="AMDOCS" ng-model="distribuidor.AMDOCS" ng-maxlength="50" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">AMDOCS Trade</label>
                <input type="text" style="width:100%" name="AMDOCS2" ng-model="distribuidor.AMDOCS2" ng-maxlength="50" required>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex="70" class="md-block form-row-input md-select-container">
                <label class="simple-label">Endereço</label>
                <input type="text" style="width: 100%" name="Endereco" ng-model="distribuidor.Endereco" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Número</label>
                <input type="text" name="NumeroEndereco" ng-model="distribuidor.EnderecoNumero" ng-maxlength="5" required>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex="70" class="md-block form-row-input md-select-container">
                <label class="simple-label">Complemento</label>
                <input type="text" style="width: 100%" name="ComplementoEndereco" ng-model="distribuidor.ComplementoEndereco" ng-maxlength="50">
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">CEP</label>
                <input type="text" name="CEP" style="width: 100%" ui-br-cep-mask ng-model="distribuidor.CEP" ng-maxlength="20" required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Bairro</label>
                <input type="text" style="width: 100%" name="Bairro" ng-model="distribuidor.Bairro" ng-maxlength="50" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Cidade</label>
                <input type="text" style="width: 100%" name="Cidade" ng-model="distribuidor.Cidade" ng-maxlength="20" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Estado</label>
                <md-select ng-model="distribuidor.Estado" aria-label="Regional" required>
                    <md-option></md-option>
                    <md-option ng-repeat="estado in formData.estados" ng-value="estado.Id">
                        {{estado.Nome}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" class="page-header" layout-align="center center">
            <h1>Sócios</h1>
        </div>
        <div ng-if="socioSelecionado">
            <!--<form name="formSocio">-->
            <div layout-gt-xs="row">
                <md-input-container flex="70" class="md-block form-row-input md-select-container">
                    <label class="simple-label">Nome</label>
                    <input type="text" required style="width:100%" md-max-size="50" name="NomeSocio" ng-model="socioSelecionado.Nome" required>
                </md-input-container>
                <md-input-container flex class="md-block form-row-input md-select-container">
                    <label class="simple-label">CPF</label>
                    <input type="text" required style="width:100%" ui-br-cpf-mask name="CPFSocio" ng-model="socioSelecionado.CPF" required>
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container flex class="md-block form-row-input md-select-container">
                    <label class="simple-label">RG</label>
                    <input type="text" name="RG" ng-model="socioSelecionado.RG " required ng-maxlength="20">
                </md-input-container>
                <md-input-container flex class="md-block form-row-input md-select-container">
                    <label class="simple-label">Celular</label>
                    <input type="text" required style="width:100%" ui-br-phone-number name="TelefoneSocio" ng-model="socioSelecionado.Celular"
                        ng-maxlength="50">
                </md-input-container>
                <md-input-container flex class="md-block form-row-input md-select-container">
                    <label class="simple-label">E-mail</label>
                    <input type="email" required style="width:100%" name="EmailSocio" ng-model="socioSelecionado.Email" ng-maxlength="50">
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <div class="buttons-container">
                    <md-button ng-click="cancelarSocio()" class="md-raised common-button">Cancelar</md-button>
                    <md-button ng-click="salvarSocio()" class="md-raised md-primary confirm-button" ng-disabled="!podeSalvarSocio()">
                        Salvar Sócio
                    </md-button>
                </div>
            </div>
            <!--</form>-->
        </div>
        <div class="data-grid" ng-show="socios.length" layout="column">
            <div class="data-grid-header" layout="row" layout-align="space-around center">
                <div flex="5" layout="row" layout-align="center">
                    <md-button ng-click="adicionarSocio()" class="md-icon-button data-grid-button-positive" aria-label="Adicionar Distribuidor">
                        <md-icon md-menu-origin="" md-svg-src="imagens/ic_control_point_white_24px.svg">
                        </md-icon>
                        <md-tooltip md-direction="bottom">
                            Adicionar Sócio
                        </md-tooltip>
                    </md-button>
                </div>
                <div flex="35">
                    <span>Nome</span>
                </div>
                <div flex="10">
                    <span>CPF</span>
                </div>
                <div flex="10">
                    <span>RG</span>
                </div>
                <div flex="10">
                    <span>Celular</span>
                </div>
                <div flex="25">
                    <span>Email</span>
                </div>
                <div layout="row" flex="10" layout-align="end center">
                </div>
            </div>
            <div layout="column" class="data-grid-row" ng-repeat="socio in socios">
                <!--<form class="custom-form" novalidate>-->
                <div layout="row" layout-align="space-around center" layout="row">
                    <div flex="5" layout="row" layout-align="center"></div>
                    <div class="data-grid-cell" flex="35">
                        <span>{{ socio.Nome }}</span>
                    </div>
                    <div class="data-grid-cell" flex="10">
                        <span>{{ socio.CPF }}</span>
                    </div>
                    <div class="data-grid-cell" flex="10">
                        <span>{{ socio.RG }}</span>
                    </div>
                    <div class="data-grid-cell" flex="10">
                        <span>{{ socio.Celular }}</span>
                    </div>
                    <div class="data-grid-cell" flex="25">
                        <span>{{ socio.Email }}</span>
                    </div>
                    <div layout="row" flex="10" layout-align="center center">
                        <div>
                            <md-button class="md-icon-button data-grid-button-positive" aria-label="Editar Item" ng-click="editarSocio(socio)">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_mode_edit_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Editar
                                </md-tooltip>
                            </md-button>
                        </div>
                        <div>
                            <md-button class="md-icon-button data-grid-button-negative" aria-label="Excluir Item" ng-click="excluirSocio(socio, $index,$event)">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_delete_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Excluir
                                </md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
                <!--</form>-->
            </div>
        </div>
        <div layout="column" ng-if="!socios.length && !socioSelecionado" layout-align="center center" ng-show="!loading">
            <h2>Não há sócios cadastrados</h2>
            <div>
                <md-button ng-click="adicionarSocio()" class="md-primary">Adicionar</md-button>
            </div>
        </div>
        <br clear="ALL" />
        <div layout="row" class="page-header" layout-align="center center">
            <h1>Integradores</h1>
        </div>
        <div ng-if="integradorSelecionado">
            <div layout="row">
                <md-input-container flex="40" class="md-block form-row-input md-select-container">
                    <label class="simple-label">Nome</label>
                    <md-select required ng-model="integradorSelecionado.Integrador" aria-label="Regional">
                        <md-option></md-option>
                        <md-option ng-repeat="integrador in integradoresNaoAdicionados()" ng-value="integrador.Id">
                            {{integrador.Nome}}
                        </md-option>
                    </md-select>
                    <!--<input type="text" required style="width:100%" md-max-size="50"  name="NomeSocio" ng-model="integradorSelecionado.Nome" required>-->
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <div class="buttons-container">
                    <md-button ng-click="cancelarIntegrador()" class="md-raised common-button">Cancelar</md-button>
                    <md-button ng-click="salvarIntegrador()" class="md-raised md-primary confirm-button" ng-disabled="!podeSalvarIntegrador()">
                        Salvar Integrador
                    </md-button>
                </div>
            </div>
        </div>
        <div class="data-grid" ng-show="integradores.length" style="margin-bottom: 20px;" layout="column">
            <div class="data-grid-header" layout="row" layout-align="space-around center">
                <div flex="5" layout="row" layout-align="center">
                    <md-button ng-click="adicionarIntegrador()" class="md-icon-button data-grid-button-positive" aria-label="Adicionar Distribuidor">
                        <md-icon md-menu-origin="" md-svg-src="imagens/ic_control_point_white_24px.svg">
                        </md-icon>
                        <md-tooltip md-direction="bottom">
                            Adicionar Integrador
                        </md-tooltip>
                    </md-button>
                </div>
                <div flex>
                    <span>Nome</span>
                </div>
                <div layout="row" flex="10" layout-align="end center"></div>
            </div>
            <!--ng-hide="loading" -->
            <div layout="column" class="data-grid-row" ng-repeat="integrador in integradores">
                <!--<form class="custom-form" novalidate>-->
                <div layout="row" layout-align="space-around center" layout="row">
                    <div flex="5" layout="row" layout-align="center"></div>
                    <div class="data-grid-cell" flex>
                        <span>{{ nomeIntegrador(integrador.Integrador) }}</span>
                    </div>
                    <div layout="row" flex="10" layout-align="center center">
                        <div>
                            <md-button class="md-icon-button data-grid-button-positive" aria-label="Editar Item" ng-click="editarIntegrador(integrador)">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_mode_edit_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Editar
                                </md-tooltip>
                            </md-button>
                        </div>
                        <div>
                            <md-button class="md-icon-button data-grid-button-negative" aria-label="Excluir Integrador" ng-click="excluirIntegrador(integrador, $index,$event)">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_delete_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Excluir
                                </md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
                <!--</form>-->
            </div>
        </div>
        <div layout="column" ng-if="!integradores.length && !integradorSelecionado" layout-align="center center" ng-show="!loading">
            <h2>Não há integradores cadastrados</h2>
            <div>
                <md-button ng-click="adicionarIntegrador()" class="md-primary">Adicionar</md-button>
            </div>
        </div>

        <div layout-gt-xs="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Posição da Claro no Distribuidor</label>
                <md-select ng-model="distribuidor.PosicaoDaClaroNoDistribuidor" style="width:100%" ng-required="true" aria-label="Posição da Claro">
                    <md-option ng-repeat="posicao in formData.posicoes" ng-value="posicao.Id">
                        {{posicao.Nome}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Qtde. Vendedores</label>
                <input type="text" ui-number-mask="0" name="QtdeVendedores" ng-model="distribuidor.QuantidadeDeVendedores" required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Qtde. Promotores</label>
                <input type="text" ui-number-mask="0" name="QtdePromotores" ng-model="distribuidor.QuantidadeDePromotores" required>
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Qtde. Supervisores</label>
                <input type="text" ui-number-mask="0" name="QtdeSupervisores" ng-model="distribuidor.QuantidadeDeSupervisores" required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Gross</label>
                <input type="text" ui-number-mask="0" name="Gross" ng-model="distribuidor.Gross">
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Inserção</label>
                <input type="text" ui-number-mask="0" name="Insercao" ng-model="distribuidor.Insercao">
            </md-input-container>
            <md-input-container flex class="md-block form-row-input md-select-container">
                <label class="simple-label">Faturamento</label>
                <input type="text" ui-number-mask="2" name="Faturamento" ng-model="distribuidor.Faturamento">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label>E-mail Gerente Comercial</label>
                <input name="EmailGerComercial" ng-model="distribuidor.EmailGerComercial" type="Email">
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label>E-mail Responsável Financeiro</label>
                <input name="EmailResFinanceiro" ng-model="distribuidor.EmailResFinanceiro" type="Email">
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label>E-mail de Comunicação</label>
                <input name="EmailResCompras" ng-model="distribuidor.EmailResCompras" type="Email">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <md-switch ng-true-value="'ATIVO'" ng-false-value="'INATIVO'" ng-model="distribuidor.Situacao">Ativo</md-switch>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label class="simple-label">Data de início da operação</label>
                <md-datepicker name="DataEntrada" ng-model="distribuidor.DataDaEntrada" md-current-view="year" md-max-date="maxDate" md-hide-icons="calendar"
                    md-open-on-focus></md-datepicker>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label class="simple-label">Data de saída da operação</label>
                <md-datepicker name="DataSaida" ng-model="distribuidor.DataDaSaida" md-current-view="year" md-max-date="maxDate" md-hide-icons="calendar"
                    md-open-on-focus></md-datepicker>
            </md-input-container>
        </div>
        <br clear="ALL" />
        <div layout="row" class="page-header" layout-align="center center">
            <h1>Multiplicador</h1>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label>Nome Completo</label>
                <input name="NomeMultiplicador" ng-model="distribuidor.NomeMultiplicador" type="text">
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label>E-mail</label>
                <input name="EmailMultiplicador" ng-model="distribuidor.EmailMultiplicador" type="Email">
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex>
                <label>Telefone</label>
                <input name="TelefoneMultiplicador" ng-model="distribuidor.TelefoneMultiplicador" ui-br-phone-number type="text" ng-maxlength="15">
            </md-input-container>
        </div>
        <div layout="row">
            <div class="buttons-container">
                <md-button href="#/distribuidores" class="md-raised common-button">Voltar</md-button>
                <md-button ng-click="salvar()" class="md-raised md-primary confirm-button" ng-disabled="formulario.$invalid">
                    Salvar
                </md-button>
            </div>
        </div>

    </form>
    <div layout="row" layout-align="center" ng-show="loading">
        <div>
            <img src="imagens/grid-loading.gif" />
        </div>
    </div>
</md-content>