<md-content>
    <div layout="row" class="page-header" layout-align="center center">
        <h1>Distribuidores</h1>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
            <label class="simple-label">Pesquisar (por Regional)</label>
            <input type="text" name="campoPesquisar3" ng-model="searchString" />
        </md-input-container>
    </div>
    <div class="data-grid" ng-show="distribuidores.length" layout="column">
        <div class="data-grid-header" layout="row" layout-align="space-around center">
            <div flex="5" layout="row">
                <md-button ng-click="exportData()" class="md-icon-button data-grid-button-positive" aria-label="Exportar para Excel" ng-show="permissoes.editar">
                    <md-icon md-menu-origin="" md-svg-src="imagens/ic_excel_orange_24px.svg"></md-icon>
                    <md-tooltip md-direction="bottom">Exportar para Excel</md-tooltip>
                </md-button>
            </div>

            <div flex="10"><span>Regional</span></div>
            <div flex="10"><span>DDD</span></div>
            <div flex><span>Micro Região</span></div>
            <div flex><span>Nome Fantasia</span></div>
            <div layout="row" flex="10" layout-align="end center"></div>
        </div>
        <div ng-hide="loading" layout="column" class="data-grid-row" ng-repeat="item in distribuidores | searchFor3:searchString">
            <form class="custom-form" novalidate>
                <div layout="row" layout-align="space-around center" layout="row">
                    <div flex="5" layout="row" layout-align="center"></div>
                    <div class="data-grid-cell" flex="10"><span>{{ item.Regional }}</span></div>
                    <div class="data-grid-cell" flex="10"><span>{{ item.DDD }}</span></div>
                    <div class="data-grid-cell" flex><span>{{ item.MicroRegiao }}</span></div>
                    <div class="data-grid-cell" flex><span>{{ item.NomeFantasia }}</span></div>
                    <div layout="row" flex="10" layout-align="center center">
                        <div ng-show="permissoes.editar">
                            <md-button class="md-icon-button data-grid-button-positive" aria-label="Editar Item" href="#/distribuidor/{{item.Id}}/edit">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_mode_edit_white_24px.svg"></md-icon>
                                <md-tooltip md-direction="top">Editar</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--<div layout="row" layout-align="center center">
            <div class="data-grid-pager-wrapper" layout="row" layout-align="center center">
                <div>
                    <md-button ng-disabled="paginaSelecionada == 1" class="md-icon-button data-grid-button-positive" aria-label="Voltar página"
                        ng-click="buscarPagina(paginaSelecionada -1)">
                        <md-icon md-menu-origin="" md-svg-src="imagens/ic_keyboard_arrow_left_white_24px.svg">
                        </md-icon>
                        </md-button>
                </div>
                <div>
                    <label>
                        &nbsp;  página &nbsp;
                        </label>
                </div>
                <div>
                    <md-input-container style="width: 60px; min-width: 60px" class="md-block form-row-input">
                        <input min="1" class="pager-input" ng-change="buscarPagina(paginaSelecionada)" aria-label="Search page" ng-model-options="{ debounce: 500 }"
                            max="{{ totalPaginas }}" type="Number" ng-model="paginaSelecionada">
                    </md-input-container>
                </div>
                <div>
                    <label>&nbsp; de &nbsp;</label>
                </div>
                <div>
                    <md-button ng-click="buscarPagina(totalPaginas)" class="md-primary md-hue-7">{{ totalPaginas}}</md-button>
                </div>
                <div>
                    <md-button ng-disabled="paginaSelecionada == totalPaginas" class="md-icon-button data-grid-button-positive" aria-label="Avançar Página"
                        ng-click="buscarPagina(paginaSelecionada + 1)">
                        <md-icon md-menu-origin="" md-svg-src="imagens/ic_keyboard_arrow_right_white_24px.svg">
                        </md-icon>
                    </md-button>
                </div>
            </div>
        </div>-->
    </div>
    <div layout="row" layout-align="center" ng-show="loading">
        <div>
            <img src="imagens/grid-loading.gif" />
        </div>
    </div>
    <div layout="column" ng-if="!distribuidores.length" layout-align="center center" ng-show="!loading">
        <h2>Aguarde. Estamos carregando os distribuidores.</h2>
    </div>
    <div id="exportable" style="display:none">
        <table width="100%">
            <thead>
                <tr>
                    <!--01-->
                    <th>Regional</th>
                    <th>DDD</th>
                    <th>Micro Regiao</th>                    
                    <th>Populacao</th>
                    <th>Market Share da Claro</th>
                    <th>Operadora Lider</th>
                    <th>Market Share da Operadora Lider</th>
                    <th>GN Sell IN</th>
                    <th>Percentual GN Sell IN</th>
                    <!--10-->
                    <th>GN Sell OUT</th>
                    <th>Percentual GN Sell OUT</th>
                    <th>Razao Social</th>
                    <th>Nome Fantasia</th>
                    <th>Grupo</th>
                    <th>CNPJ</th>
                    <th>Inscricao Estadual</th>
                    <th>Codigo SAP Estrutural</th>
                    <th>Codigo SAP Trade</th>
                    <th>AMDOCS Estrutural</th>
                    <!--20-->
                    <th>AMDOCS Trade</th>
                    <th>Endereco</th>
                    <th>Numero</th>
                    <th>Complemento</th>
                    <th>CEP</th>
                    <th>Bairro</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Posicao da Claro no Distribuidor</th>
                    <th>Quantidade de Vendedores</th>
                    <!--30-->
                    <th>Quantidade de Promotores</th>
                    <th>Quantidade de Supervisores</th>
                    <th>Gross</th>
                    <th>Insercao</th>
                    <th>Faturamento</th>
                    <th>E-mail Gerente Comercial</th>
                    <th>E-mail Responsavel Financeiro</th>
                    <th>E-mail de Comunicacao</th>
                    <th>Situacao</th>
                    <th>Data de inicio da operacao</th>
                    <!--40-->
                    <th>Data de saida da operacao</th>
                    <th>Nome Socio 1</th>
                    <th>CPF Socio 1</th>
                    <th>RG Socio 1</th>
                    <th>Celular Socio 1</th>
                    <th>E-mail Socio 1</th>
                    <th>Nome Socio 2</th>
                    <th>CPF Socio 2</th>
                    <th>RG Socio 2</th>
                    <th>Celular Socio 2</th>
                    <!--50-->                    
                    <th>E-mail Socio 2</th>
                    <th>Integrador 1</th>
                    <th>Integrador 2</th>
                    <th>Integrador 3</th>                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in distribuidores">
                    <!--01-->
                    <td>{{ item.Regional }}</td>
                    <td>{{ item.DDD }}</td>
                    <td>{{ removeAcentos(item.MicroRegiao) }}</td>                    
                    <td>{{ item.Populacao }}</td>
                    <td>{{ item.MarketShare }}</td>
                    <td>{{ item.NomeOperadoraLider }}</td>
                    <td>{{ item.MarketShareLider }}</td>
                    <td>{{ removeAcentos(item.GNSellIn) }}</td>
                    <td>{{ item.PercentGNSellIn }}</td>
                    <!--10-->
                    <td>{{ removeAcentos(item.GNSellOut) }}</td>
                    <td>{{ item.PercentGNSellOut }}</td>
                    <td>{{ removeAcentos(item.RazaoSocial) }}</td>
                    <td>{{ removeAcentos(item.NomeFantasia) }}</td>                    
                    <td>{{ removeAcentos(item.NomeGrupo) }}</td>
                    <td>{{ item.CNPJ }}</td>
                    <td>{{ item.InscricaoEstadual }}</td>
                    <td>{{ item.CodigoSAP }}</td>
                    <td>{{ item.CodigoSAP2 }}</td>
                    <td>{{ item.AMDOCS }}</td>
                    <!--20-->
                    <td>{{ item.AMDOCS2 }}</td>
                    <td>{{ item.Endereco ? removeAcentos(item.Endereco) : '' }}</td>
                    <td>{{ item.EnderecoNumero }}</td>
                    <td>{{ item.ComplementoEndereco ? removeAcentos(item.ComplementoEndereco) : '' }}</td>
                    <td>{{ item.CEP }}</td>
                    <td>{{ item.Bairro ? removeAcentos(item.Bairro) : '' }}</td>
                    <td>{{ item.Cidade ? removeAcentos(item.Cidade) : '' }}</td>
                    <td>{{ item.Estado ? removeAcentos(item.Estado) : '' }}</td>
                    <td>{{ item.PosicaoDaClaroNoDistribuidor }}</td>
                    <td>{{ item.QuantidadeDeVendedores }}</td>
                    <!--30-->
                    <td>{{ item.QuantidadeDePromotores }}</td>
                    <td>{{ item.QuantidadeDeSupervisores }}</td>
                    <td>{{ item.Gross }}</td>
                    <td>{{ item.Insercao }}</td>
                    <td>{{ item.Faturamento }}</td>
                    <td>{{ item.EmailGerComercial ? removeAcentos(item.EmailGerComercial) : '' }}</td>
                    <td>{{ item.EmailResFinanceiro ? removeAcentos(item.EmailResFinanceiro) : '' }}</td>
                    <td>{{ item.EmailResCompras ? removeAcentos(item.EmailResCompras) : '' }}</td>
                    <td>{{ removeAcentos(item.Situacao) }}</td>
                    <td>{{ item.DataDaEntrada | date:'dd/MM/yyyy' }}</td>
                    <!--40-->
                    <td>{{ item.DataDaSaida | date:'dd/MM/yyyy' }}</td>
                    <td>{{ item.SocioNome1 ? removeAcentos(item.SocioNome1) : '' }}</td>
                    <td>{{ item.SocioCPF1 ? removeAcentos(item.SocioCPF1) : '' }}</td>
                    <td>{{ item.SocioRG ? removeAcentos(item.SocioRG1) : '' }}</td>
                    <td>{{ item.SocioCelular1 ? removeAcentos(item.SocioCelular1) : '' }}</td>
                    <td>{{ item.SocioEmail1 ? removeAcentos(item.SocioEmail1) : '' }}</td>
                    <td>{{ item.SocioNome2 ? removeAcentos(item.SocioNome2) : '' }}</td>
                    <td>{{ item.SocioCPF2 ? removeAcentos(item.SocioCPF2) : '' }}</td>
                    <td>{{ item.SocioRG2 ? removeAcentos(item.SocioRG2) : '' }}</td>
                    <td>{{ item.SocioCelular2 ? removeAcentos(item.SocioCelular2) : '' }}</td>
                    <!--50-->
                    <td>{{ item.SocioEmail2 ? removeAcentos(item.SocioEmail2) : '' }}</td>
                    <td>{{ item.Integrador1 ? removeAcentos(item.Integrador1) : '' }}</td>
                    <td>{{ item.Integrador2 ? removeAcentos(item.Integrador2) : '' }}</td>
                    <td>{{ item.Integrador3 ? removeAcentos(item.Integrador3) : '' }}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</md-content>