<md-content layout-padding>
    <form name="formulario" ng-hide="loading" novalidate>
        <div layout="row" class="page-header" layout-align="center center">
            <h1>Cadastro de Funcionário</h1>
        </div>
        
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Regional</label>
                <md-select required ng-model="funcionario.IdRegional" aria-label="Regional">                    
                    <md-option ng-repeat="reg in formData.regionais" ng-value="reg.Id">
                        {{reg.Nome}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Cargo</label>
                <md-select required ng-model="funcionario.IdCargo" aria-label="Cargo">                    
                    <md-option ng-repeat="cargo in formData.cargos" ng-value="cargo.Id">
                        {{cargo.Cargo}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Nome Completo</label>
                <input type="text" name="NomeCompleto" ng-model="funcionario.NomeCompleto " required ng-maxlength="255 ">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">CPF</label>
                <!--<input type="text" name="CPF" ui-br-cpf-mask ng-model="funcionario.CPF" required>-->
                <input type="text" name="CPF" ng-model="funcionario.CPF" ui-br-cpf-mask required>
                <div class="hint" ng-if="formulario.CPF.$error.cpf==true">O <b>CPF</b> informado é inválido.</div>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">RG</label>
                <input type="text" name="RG" ng-model="funcionario.RG " required ng-maxlength="20">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Matricula</label>
                <input type="text" name="Matricula" ng-model="funcionario.Matricula " required ng-maxlength="50 ">
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">E-mail</label>
                <input name="Email" type="email" ng-model="funcionario.Email " required ng-maxlength="50">
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Telefone Comercial Com DDD</label>
                <input type="text" name="TelefoneComercial" ui-br-phone-number ng-model="funcionario.TelefoneComercial " ng-maxlength="14">
                <div ng-messages="formulario.TelefoneComercial.$error">
                    <div ng-message="maxlength">Campo <b>Telefone Comercial</b> deve conter apenas o <b>DDD</b> e os 8 digítos.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Telefone Celular Com DDD</label>
                <input type="text" name="Celular" ui-br-phone-number ng-model="funcionario.Celular " required ng-maxlength="20 ">
            </md-input-container>
        </div>

        <div layout-gt-xs="row">
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Data de Nascimento</label>
                <md-datepicker name="DataNascimento" md-current-view="year" ng-model="funcionario.DataNascimento" 
                md-hide-icons="calendar" md-max-date="maxDate" md-open-on-focus ng-required="funcionario.IdCargo !== 14"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block form-row-input md-select-container" flex>
                <md-switch ng-true-value="'Ativo'" ng-false-value="'Inativo'" ng-model="funcionario.Situacao">Ativo</md-switch>
            </md-input-container>

        </div>

        <div layout-gt-xs="row" ng-show="permissoes.admin">
            <!--usuarios orbesso-->
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Usuario</label>
                <md-select ng-model="funcionario.UsuarioOrbesso" aria-label="UsuarioOrbesso">   
                    <md-option ng-value=""></md-option>
                    <md-option ng-repeat="u in usuariosOrbessoDisponiveis" ng-value="u.Usuario">
                        {{u.Usuario}}
                    </md-option>
                </md-select>
            </md-input-container>
            
            <!--grupos permissoes-->
            <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
                <label class="simple-label">Grupo Permissão</label>
                <md-select ng-model="funcionario.GrupoPermissao" aria-label="GrupoPermissao">   
                    <md-option ng-value=""></md-option>                 
                    <md-option ng-repeat="u in gruposPermissoes" ng-value="u.Id">
                        {{u.Descricao}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>

        <div layout="row">
            <div class="buttons-container">
                <md-button href="#/funcionarios" class="md-raised common-button">Voltar</md-button>
                <md-button ng-click="salvar()" class="md-raised md-primary confirm-button" ng-disabled="formulario.$invalid">
                    Salvar
                </md-button>
            </div>
        </div>
    </form>    
    <div layout="row" layout-align="center" ng-show="loading">
        <div>
            <img src="imagens/grid-loading.gif" />
        </div>
    </div>
</md-content>


<!--<div class="form-group ">
        <label for="Matricula ">Matricula</label>
        <input type="text" name="Matricula " class="form-control " ng-model="funcionario.Matricula " required ng-maxlength="50 ">
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.Matricula.$error.required ">
            Matricula obrigatória
        </span>
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.Matricula.$error.maxlength ">
            Deve ter no máximo 50 caracteres
        </span>
    </div>-->
<!--fim form-group-->

<!--<div class="form-group ">
        <label for="CPF ">CPF</label>
        <input type="text" name="CPF " class="form-control " ng-model="funcionario.CPF " required ng-maxlength="11 ">
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.CPF.$error.required ">
            CPF obrigatório
        </span>
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.CPF.$error.maxlength ">
            Deve ter no máximo 11 caracteres
        </span>
    </div>-->

<!--fim form-group-->

<!--<div class="form-group ">
        <label for="RG ">RG</label>
        <input type="text" name="RG " class="form-control " ng-model="funcionario.RG " required ng-maxlength="20 ">
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.RG.$error.required ">
            RG obrigatório
        </span>
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.RG.$error.maxlength ">
            Deve ter no máximo 20 caracteres
        </span>
    </div>-->
<!--fim form-group-->

<!--<div class="form-group ">
        <label for="TelefoneComercial ">Telefone Comercial com DDD</label>
        <input type="text" name="TelefoneComercial " class="form-control " ng-model="funcionario.TelefoneComercial " required ng-maxlength="10 ">
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.TelefoneComercial.$error.required ">
            Telefone Comercial obrigatório
        </span>
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.TelefoneComercial.$error.maxlength ">
            Deve ter no máximo 10 caracteres
        </span>
    </div>-->
<!--fim form-group-->

<!--<div class="form-group ">
        <label for="Celular ">Celular com DDD</label>
        <input type="text" name="Celular " class="form-control " ng-model="funcionario.Celular " required ng-maxlength="11 " ng-minlength="11 ">
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.Celular.$error.required ">
            Celular obrigatório
        </span>
        <span class="form-control alert-danger " ng-show="formulario.$submitted && (formulario.Celular.$error.maxlength || formulario.Celular.$error.minlength) ">
            Deve conter 11 caracteres
        </span>
    </div>-->
<!--fim form-group-->
<!--
    <div class="form-group ">
        <label for="DataNascimento ">Data Nascimento</label>
        <input type="date " name="DataNascimento " class="form-control " ng-model="funcionario.DataNascimento " required>
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.DataNascimento.$error.required ">
            Data Nascimento obrigatório
        </span>
    </div>-->
<!--fim form-group-->

<!--<div class="form-group ">
        <label for="Email ">E-mail</label>
        <input type="text" name="Email " class="form-control " ng-model="funcionario.Email " required ng-maxlength="200 ">
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.Email.$error.required ">
            E-mail obrigatório
        </span>
        <span class="form-control alert-danger " ng-show="formulario.$submitted && formulario.Email.$error.maxlength ">
            Deve ter no máximo 200 caracteres
        </span>
    </div>-->
<!--fim form-group-->
<!--
    <button class="btn btn-primary " type="submit " ng-disabled="formulario.$invalid ">Salvar</button>
    <a href="#/funcionarios " class="btn btn-primary" focus-voltar>Voltar</a>-->