<md-content>
    <div layout="row" class="page-header" layout-align="center center">
        <h1>Funcionários</h1>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block form-row-input md-select-container" flex-gt-xs="">
            <label class="simple-label">Pesquisar (por Regional, Nome Completo ou Matrícula)</label>
            <input type="text" name="campoPesquisar" ng-model="searchString" />
        </md-input-container>
    </div>
    <div class="data-grid" ng-show="funcionarios.length" layout="column">
        <div class="data-grid-header" layout="row" layout-align="space-around center">

            <div flex="5" layout="row">
                <md-button href="#/funcionarios/new" class="md-icon-button data-grid-button-positive" aria-label="Adicionar Funcionário"
                    ng-show="permissoes.editar">
                    <md-icon md-menu-origin="" md-svg-src="imagens/ic_control_point_white_24px.svg">
                    </md-icon>
                    <md-tooltip md-direction="bottom">
                        Adicionar Funcionário
                    </md-tooltip>
                </md-button>
            </div>
            <div flex="5" layout="row">
                <md-button ng-click="exportData()" class="md-icon-button data-grid-button-positive" aria-label="Exportar para Excel" ng-show="permissoes.editar">
                    <md-icon md-menu-origin="" md-svg-src="imagens/ic_excel_orange_24px.svg">
                    </md-icon>
                    <md-tooltip md-direction="bottom">
                        Exportar para Excel
                    </md-tooltip>
                </md-button>
            </div>

            <div flex="10"><span>Regional</span></div>
            <div flex><span>Nome Completo</span></div>
            <div flex="10"><span>Matrícula</span></div>
            <div flex="10"><span>Situação</span></div>

            <div layout="row" flex="10" ng-show="permissoes.editar">
            </div>
        </div>
        <div ng-hide="loading" layout="column" class="data-grid-row" ng-repeat="item in funcionarios | searchFor:searchString">
            <form class="custom-form" novalidate>
                <div layout="row" layout-align="space-around center" layout="row">
                    <div flex="10" layout="row" layout-align="center"></div>
                    <div class="data-grid-cell" flex="10">
                        <span>
                            {{ item.Regional }}
                        </span>
                    </div>
                    <div class="data-grid-cell" flex>
                        <span>
                            {{ item.NomeCompleto }} 
                        </span>
                    </div>
                    <div class="data-grid-cell" flex="10">
                        <span>
                            {{ item.Matricula }} 
                        </span>
                    </div>
                    <div class="data-grid-cell" flex="10">
                        <span>
                            {{ item.Situacao }} 
                        </span>
                    </div>
                    <div flex="10" layout-align="center center" ng-show="permissoes.editar">
                        <div>
                            <md-button class="md-icon-button data-grid-button-positive" aria-label="Editar Item" href="#/funcionarios/{{item.Id}}/edit">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_mode_edit_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Editar
                                </md-tooltip>
                            </md-button>
                        </div>
                        <div>
                            <!--<md-button class="md-icon-button data-grid-button-negative" aria-label="Excluir Item" ng-click="confirmarExclusao(item,$event)">
                                <md-icon md-menu-origin="" md-svg-src="imagens/ic_delete_white_24px.svg">
                                </md-icon>
                                <md-tooltip md-direction="top">
                                    Excluir
                                </md-tooltip>
                            </md-button>-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div layout="row" layout-align="center" ng-show="loading">
        <div>
            <img src="imagens/grid-loading.gif" />
        </div>
    </div>
    <div layout="column" ng-if="!funcionarios.length" layout-align="center center" ng-show="!loading">
        <h2>Não há funcionários cadastrados</h2>
        <div>
            <md-button href="#/funcionarios/new" class="md-primary">Adicionar</md-button>
        </div>
    </div>
    <div id="exportable" style="display:none">
        <table width="100%">
            <thead>
                <tr>
                    <th>Regional</th>
                    <th>Cargo</th>
                    <th>Nome Completo</th>
                    <th>CPF</th>
                    <th>RG</th>
                    <th>Matricula</th>
                    <th>E-mail</th>
                    <th>Tel. Comercial</th>
                    <th>Tel. Celular</th>
                    <th>Data de Nascimento</th>
                    <th>Situacao</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in funcionarios">
                    <td>{{ item.Regional }}</td>
                    <td>{{ removeAcentos(item.Cargo) }}</td>
                    <td>{{ removeAcentos(item.NomeCompleto) }}</td>
                    <td>{{ item.CPF }}</td>
                    <td>{{ item.RG }}</td>
                    <td>{{ item.Matricula }}</td>
                    <td>{{ item.Email }}</td>
                    <td>{{ item.TelefoneComercial }}</td>
                    <td>{{ item.Celular }}</td>
                    <td>{{ item.DataNascimento | date:'dd/MM/yyyy' }}</td>
                    <td>{{ item.Situacao }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content>