<div layout="column" class="bg-login" layout-align="center start">
	<div layout="column" layout-align="center center">
			<md-input-container class="md-block form-row" style="text-align: center">
				<img class="marca-login" src="./imagens/marca-login.png" />
			</md-input-container>
			<md-input-container class="md-block form-row">
			<h1 style="text-align: center">CLARO GERENCIAL</h1>
		</md-input-container>
			<md-input-container class="md-block form-row">
				<label class="simple-label">Usuário</label>
				<input autocorrect="off" class="login-input" autofocus="autofocus" spellcheck="false" autocomplete="false"   ng-model="entity.username">
			</md-input-container>
			<md-input-container class="md-block form-row-input">
				<label style="text-align:initial" class="simple-label">Senha</label>
				<input  autocomplete="false" class="login-input" type="password" ng-model="entity.password">
			</md-input-container>
			<md-input-container style="align-self: flex-start;" class="md-block form-row-input">
					<md-checkbox class="custom-switch md-primary"  md-no-ink aria-label="Lembrar usuário e senha" ng-model="entity.lembrarSenha">
							Lembrar usuário e senha
					</md-checkbox>
			</md-input-container>
		<md-button ng-disabled="loading" ng-click="entrar($event)" class="md-raised md-primary form-row-button">
			<span ng-hide="loading">Entrar</span>
			<md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
		</md-button>
		
	</div>
</div>



