<div layout="column" layout-align="none center">
    <div layout-gt-sm="row" layout-align="center center">
        <md-progress-circular class="list-loading md-hue-3" md-mode="indeterminate" md-diameter="70">
        </md-progress-circular>
        <h3 class="list-loading-text">Saindo do sistema...</h3>
    </div>
</div>

