<md-button ng-class="{'active' : isSelected()}"
  ng-href="#{{page.url}}" ng-click="focusSection()" class="submenu-link">
      <!--<md-icon ng-if="!section.icon"  md-svg-src="./imagens/bullet.svg"  class="menu-icon-bullet" aria-label="section.name">
      </md-icon>-->
      <md-icon md-svg-src="{{ page.icon }}"  ng-class="page.className" aria-label="page.name">
      </md-icon>
      &nbsp;
    {{page | humanizeDoc}}
  <span class="md-visually-hidden"
    ng-if="isSelected()">
    current page
  </span>
</md-button>