<ul >
    {{menu.menu}}
    <li >
        <ul ng-repeat="submenu in menu.submenus">
            <a href="{{submenu.url}}" >{{submenu.menu}}</a>
        </ul>
    </li>
</ul>

<!--<ul class="left-side-menu">
    <li ng-repeat="section in sections" ng-class=" { 'item-toggled' : isItemSelected(section) }" class="ng-scope">
        <menu-link page="section" ng-class="{ 'selected-menu-item' : isSectionSelected(section) }" ng-if="section.type == 'link'"
            class="ng-scope ng-isolate-scope">
            <a class="submenu-link md-button md-ink-ripple active" ng-transclude="" ng-class="{'active' : isSelected()}" ng-href="#/dashboard/view//PDVsDNERepresados_12/PDVsRepresados"
                ng-click="focusSection()" href="#/dashboard/view//PDVsDNERepresados_12/PDVsRepresados" style="">

<md-icon md-svg-src="./imagens/ic_info_white_24px.svg" ng-class="page.className" aria-label="page.name" class="ng-scope">
    <svg fill="#FFFFFF" height="100%" viewBox="0 0 24 24" width="100%" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet"
        focusable="false">
        <path d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path>
    </svg>
</md-icon><span class="ng-binding ng-scope">
      &nbsp;
    DNE - Claro
  </span>
<span class="md-visually-hidden ng-scope" ng-if="isSelected()">
    current page
  </span>
<div class="md-ripple-container"></div>
</a>
</menu-link>
</li>
</ul>-->