<md-button class="md-button-toggle"
  ng-click="toggle(section)"
  aria-controls="orbe-menu-{{section.name | nospace}}"
  aria-expanded="{{isOpen(section) || isSectionSelected(section) }}">
  <div flex layout="row" ng-class="{ 'selected-menu-toggle-item' : isSectionSelected(section) }">
      <md-icon md-svg-src="{{ section.icon }}" ng-class="menu-icon" aria-label="section.name">
      </md-icon>&nbsp;
    {{section.name}}
    <span flex=""></span>
    <span aria-hidden="true" class="md-toggle-icon yellow-icon" ng-class="{'toggled' : (isOpen(section) || isSectionSelected(section))}">
      <md-icon md-svg-src="md-toggle-arrow"></md-icon>
    </span>
  </div>
  <span class="md-visually-hidden">
    Toggle {{(isOpen(section) || isSectionSelected(section))? 'expanded' : 'collapsed'}}
  </span>
</md-button>
<div ng-show="isOpen(section)" class="separator"></div>
<ul ng-show="isOpen(section)" id="orbe-menu-{{section.name | nospace}}" class="menu-toggle-list">
  <li ng-click="avoidClick($event, page.url, section)" ng-repeat="page in section.pages">
    <menu-link page="page" ng-class="{ 'selected-menu-item': isSubSectionSelected(page) }"></menu-link>
  </li>
</ul>